<ion-header no-border>
  <ion-navbar class="wa-navbar">
    <ion-title class="wa-title">
      Current Weather and Forecast:
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="wa-input">
    <ion-label class="wa-zip">Zip:</ion-label>
    <ion-input placeholder="89123" [(ngModel)]="zipcode">
    </ion-input>
  </ion-item>

  <button (click)="getWeather(zipcode)"
          class="wa-button__search"
          ion-button
          full
          round>
          search
  </button>

  <h1 style="color: red">
    {{ location }}
  </h1>
  <h2 style="color: blue">
    {{ currentWeather }}
  </h2>

  <ion-list>
    <ion-item *ngFor="let weather of forecast">
      <h2 *ngIf="weather">5 day weather</h2>
      {{ weather.date }}
      {{ weather.day.maxtemp_f }}
    </ion-item>
  </ion-list>

</ion-content>
